.cart-container h4{
    text-align: center;
    
}
.cart-calc{
    padding-left: 23px;
}
.order-btns{
    padding: 1px;
}
.order-btns span{
    margin-right: 5px;
}
.order-btns button{
    width: 220px;
    height: 48px;
    margin: 5px;
}
#cart-delete-btn{
    background-color: tomato;
    border: none;
}
#review-btn{
    background-color: rgb(250, 187, 69);
    border: none;
}